body {
    box-sizing: content-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    
  }
  
  
  .logo {
    margin: 0 auto; 
    text-align: center; 
    flex: 1; 
  }
  
  .logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .title {
    color: #84847d; 
    margin: 0;
    padding: 0 10px; 
    font-size: 24px;
    line-height: 50px; 
    margin-right:0 auto; 
  }
  .title {
    color: hsl(60, 21%, 86%); 
    margin: 0;
    padding: 0 10px; 
    font-size: 24px;
    line-height: 50px; 
    margin-right:0 auto; 
  }

  .navbar {
    background-color:  rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    
    
  }
  
  .navbar ul {
    display: flex;
    justify-items: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  
  .navbar ul li {
    display: inline;
    margin-left: 10px; 
  }
  
  .navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    margin-left: auto; 
  }
  
  .navbar ul li a:hover {
    color: #ffff00;
  }
  /* .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  } */
  .form-caption {
    margin-bottom: 20px; 
    text-align: center; 
  }

  .hr-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 90%;
    margin: auto;
    box-sizing: border-box;
  }
  
  .form-group {
    margin-bottom: 20px;
    

  }
  form-group  input{
margin: auto;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
  }
  
  .form-group input[type="text"],
  .form-group input[type="url"],
  .form-group select {
    
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-btn {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
  
  }
  
  .submit-btn:hover {
    background-color: #004494;
  }
 
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #fff;
  margin: 0 10px;
}

.f-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}


#employee-info {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 60px; /* To avoid overlap with the footer */
}

.employee_card {
    background-color: #e7e7e7;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border-radius: 30px;
  background: hsl(71, 47%, 91%);
  box-shadow: hsla(67, 90%, 72%, 0.251) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
 
  padding: 1.25rem;
}

#employeesContainer > section {
  margin-bottom: 40px;
  border-bottom: 1px solid black;
}

#employeesContainer h2 {
  border-bottom: 2px solid #ccc;

  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color:#333;
  color: #ddd;
}

.employee-card {
  background-color: #e4e2e2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: inline-block;
  margin: 16px;
  width: 300px;
  overflow: hidden;
  text-align: center;
}

.employee-image {
  margin-top: 5px;
  width: 50%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 50px;
}

.employee-info {
  padding: 16px;
  text-align: center;
}

.employee-info h2 {
  color: #333;
  margin: 10px 0;
}

.employee-info p {
  color: #666;
  font-size: 14px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tfoot td {
  font-weight: bold;
  background-color: #e8e8e8;
}